RewriteEngine On
RewriteBase /

RewriteRule ^login/$ /login/login.html [L]
RewriteRule ^registration/$ /registration/registration.html [L]
RewriteRule ^cart/$ /cart/cart.html [L]
RewriteRule ^profile/$ /profile/profile.html [L]
RewriteRule ^purchase/$ /purchase/purchase.html [L]
RewriteRule ^orders/$ /orders/orders.html [L]
RewriteRule ^order/([A-Za-z0-9-]+)$ /order/order.html [L]
RewriteRule ^item/([A-Za-z0-9-]+)$ /item/item.html [L]
RewriteRule ^$ localhost.html [L]

