body > footer
{
    flex-shrink: 0;
    height: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}

body, html, footer, header, main
{
    margin: 0;
    width: 100%;
}

body, html
{
    height: 100%;
}

.container.shadow
{
    min-width: 300px;
}


.container.centered
{
    min-width: 300px;
    background-color: #f8f9fa;
}

.divider
{
    display: block;
    height: 1px;
}

hr
{
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper
{
    position: relative;
    min-height: calc(100vh - 51px);
}

.centered
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
}

.navbar-brand, .nav-link
{
    color: black;
}