body > footer
{
    flex-shrink: 0;
    height: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    box-shadow: none;
}

body, html, footer, header, main
{
    margin: 0;
    width: 100%;
}

.h100
{
    height: 100%;
}

body, html
{
    height: 100%;
}

.clickableLink
{
    cursor: pointer;
}

.container.centered
{
    min-width: 300px;
    background-color: #f8f9fa;
}

.card.width18
{
    border: 0px;
}

.container.shadow
{
    min-width: 300px;
}

.wrapper
{
    position: relative;
    min-height: calc(100vh - 51px);
}

.centered
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
}

hr
{
    margin-top: 0;
    margin-bottom: 0;
}

.green
{
    color: #157822;
}

.full
{
    color: #ffbf40;
}

.fa-star
{
    font-size: .875em;
    vertical-align: .05357em;
}

.z1
{
    z-index: 1;
}

.width18
{
    width: 18rem;
}

.divider
{
    display: block;
    height: 1px;
}

.navbar-brand, .nav-link
{
    color: black;
}

.rate:hover
{
    cursor: pointer;
    color: #ffbf40;
}

.rate:hover ~ .fa-star
{
    cursor: pointer;
    color: #ffbf40;
}

.part-10
{
    font-size: .875em;
    background: linear-gradient(to right, #ffbf40 0%, #ffbf40 10%, #000 10%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.part-20
{
    font-size: .875em;
    background: linear-gradient(to right, #ffbf40 0%, #ffbf40 20%, #000 20%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.part-30
{
    font-size: .875em;
    background: linear-gradient(to right, #ffbf40 0%, #ffbf40 30%, #000 30%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.part-40
{
    font-size: .875em;
    background: linear-gradient(to right, #ffbf40 0%, #ffbf40 40%, #000 40%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.part-50
{
    font-size: .875em;
    background: linear-gradient(to right, #ffbf40 0%, #ffbf40 50%, #000 50%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.part-60
{
    font-size: .875em;
    background: linear-gradient(to right, #ffbf40 0%, #ffbf40 60%, #000 60%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.part-70
{
    font-size: .875em;
    background: linear-gradient(to right, #ffbf40 0%, #ffbf40 70%, #000 70%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.part-80
{
    font-size: .875em;
    background: linear-gradient(to right, #ffbf40 0%, #ffbf40 80%, #000 80%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.part-90
{
    font-size: .875em;
    background: linear-gradient(to right, #ffbf40 0%, #ffbf40 90%, #000 90%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}